language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt593-trusty -y
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt59base
  - source /opt/qt*/bin/qt*-env.sh

script:
  - mkdir build
  - cd build
  - qmake .. CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - sudo make install
